<section class="service service__background" id="about">
  <div class="service__content">
      <h2 class="service__title">sobre a usina</h2>
      <!-- <p class="service__description">um pouquinho da nossa história</p> -->
  </div>
  <div class="service__about-us">
    Música, cinema, conteúdo e personalidade! Nós nascemos em 2014, idealizada pelo diretor e editor Rafael Souza, em sociedade com a produtora Bruna Leskowicz. A ideia é sempre estar perto da música e passear em diversos formatos; videoclipes, DVDs, pós vendas, aftermovies e animações, além do nosso núcleo de criação em design e ilustração.

Realizar desde à mais simples ideia, imprimir histórias e desejos. A Usina é transformação de matéria prima em produto!
  </div>
</section>
