[class*="bg__"] {
  min-height: 30em;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  &:nth-child(2n) {
    box-shadow: inset 0 0 1em #111;
  }
}

.bg__parallax {
  padding: 15em;
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax1.jpg
  );
}
.bg__parallax2 {
  padding: 15em;
  background-image: url(
    https://s3-us-west-2.amazonaws.com/s.cdpn.io/30354/parallax2.jpg
  );
}
